{% load static %}

<p class="ajaxLoader">Loading...</p>
<script type="text/javascript"> 
	var totalVineyards = "{{ total_vineyards }}";
	var vineyardsPerPage = "{{ vineyards_per_page }}";
	var currentVineyards = "{{ vineyards_id }}";
	var vineyardPages = "{{ vineyard_pages }}";
</script>
{% for vineyard in vineyards %}
	<div class="d-md-flex vineyard-box">
		<div class="col-12 col-md-6 py-3 text-start">
			<div style="position: absolute; z-index: 1">
				{% if vineyard.custom_overlay2 %}
				<img src="{{ vineyard.custom_overlay2.url }} " style="max-width: 125px" class="m-2" />
				{% elif vineyard.custom_overlay %}
				<img src="{{ vineyard.custom_overlay.url }} " style="max-width: 125px" class="m-2" />
				{% elif vineyard.hide_rating == False %}
				<p
					style="z-index: 1; position: absolute; padding-top: 10px"
					class="text-light fs-5 fw-bold m-4 text-center"
				>
					TOP <span style="font-size: 28px">{{ vineyard.rating }}</span>
				</p>
				<img src="{% static 'img/overlay-icon-bg.png' %} " style="max-width: 125px" class="m-2" />
				{% endif %}
			</div>
			<a href="{{ vineyard.get_absolute_url }}">
				{% if vineyard.cover2 %}
				<img src="{{ vineyard.cover2.url }}" class="thumbnail-img"/>
				{% elif vineyard.cover %}
				<img src="{{ vineyard.cover.url }}" class="thumbnail-img"/>
				{% else %}
				{% endif %}
			</a>
		</div>
		<div class="col-12 col-md-6 py-3 ps-md-3" style="font-size: 14px">
			<h5 class="fw-bold">
				<a href="{{ vineyard.get_absolute_url }}" class="text-decoration-none text-dark"
					>{{ vineyard.name }}</a
				>
			</h5>
			<p>
				<strong> Wine Region </strong> :
				<a href="{{ vineyard.wine_rg_url }}" style="text-decoration: none; color: #688c3b"
					>{{ vineyard.wine_rg }}</a
				><br />
				<strong> Wines </strong> :
				<a href="{{ vineyard.wines_url }}" style="text-decoration: none; color: #688c3b"
					>{{ vineyard.wines }}</a
				><br />
				<strong> Winemaker </strong> :
				<a href="{{ vineyard.owner_url }}" style="text-decoration: none; color: #688c3b"
					>{{ vineyard.owner }}</a
				><br />
				{{ vineyard.text|safe|truncatewords:25 }}
			</p>
		</div>
	</div>
{% endfor %}
<!-- Nav Pagination -->
<!-- <nav class="nav-pagination">
	<ul class="pagination justify-content-center">
		{% if vineyards.paginator.num_pages > 1 %}
			{% if vineyards.has_previous %}
				<a class="btn pagination-btn my-2" href="?page1=1">First</a>
				<a class="btn pagination-btn my-2" href="?page1={{ vineyards.previous_page_number }}">Previous</a>
			{% endif %}

			{% for num in vineyards.paginator.page_range %}
				{% if vineyards.number == num %}
					<a class="btn btn-secondary my-2" href="?page1={{ num }}">{{ num }}</a>
				{% elif num > vineyards.number|add:'-3' and num < vineyards.number|add:'3' %}
					<a class="btn pagination-btn my-2" href="?page1={{ num }}">{{ num }}</a>
				{% endif %}
			{% endfor %}

			{% if vineyards.has_next %}
				<a class="btn pagination-btn my-2" href="?page1={{ vineyards.next_page_number }}">Next</a>
				<a class="btn pagination-btn my-2" href="?page1={{ vineyards.paginator.num_pages }}">Last</a>
			{% endif %}
		{% endif %}
	</ul>
</nav> -->