{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}

<!-- Meta Keywords -->
{% block description %} <meta name="description" content="{{ content_page.meta_description }}" />
{% endblock description %}
<!--  -->
{% block keywords %} <meta name="keywords" content="{{ content_page.meta_keywords }}" />
{% endblock keywords %}

<!-- Title -->
{% block title %} {{ content_page.title }} {% endblock title %}

<!-- Top Carousel -->
{% block topcarousel %}
<section class="footer-page mt-5"></section>
{% endblock topcarousel %}

<!-- Footer Page -->
{% block content %}
<div class="row d-flex p-4 mb-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <h1 class="text-center fw-bold">{{ content_page.title }}</h1>
  <br />
  {{ content_page.content|safe }}

  <!-- Contact Us Form -->
  {% if content_page.slug == 'contact-us' %}
  <div class="w-75 mx-auto">
    <form method="POST">
      {% csrf_token %} {{ contact_entry_form|crispy }}
      <input type="submit" value="Submit" class="btn btn-dark" style="width: 100%" />
    </form>
  </div>
  {% endif %}

  <!-- Newsletter Form -->
  {% if content_page.slug == 'newsletter' %}
  <div class="w-75 mx-auto">
    <form method="POST">
      {% csrf_token %} {{ subscriber_form|crispy }}
      <input type="submit" value="Submit" class="btn btn-dark" style="width: 100%" />
    </form>
  </div>
  {% endif %}

  <!-- Vineyard Form -->
  {% if content_page.slug == 'submit-a-vineyard' %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    <h3>Vineyard Form</h3>
    {% for field in vineyard_form %}
      <div class="col-12 my-2">{{ field.label }}</div>
      {{ field }}
      {{ field.errors }}
    {% endfor %}
    <hr>
    <h3>Vineyard User Form</h3>
    {% for field in vineyard_user_form %}
      <div class="col-12 my-2">{{ field.label }}</div>
      {{ field }}
      {{ field.errors }}
    {% endfor %}
    <input type="submit" value="Submit" class="btn btn-dark my-3" style="width: 100%" />
  </form>
  {% endif %}
</div>

{% if content_page.additional_content %}
<div class="row d-flex p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  {{ content_page.additional_content|safe }}
</div>
{% endif %}

<!-- Vineyards -->
{% if content_page.show_listing == True %}
<div class="row d-flex p-3 my-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  {% for vineyard in vineyards %}
  <div class="col-12 col-md-6 py-3 text-start">
    <div style="position: absolute; z-index: 1">
      {% if vineyard.custom_overlay %}
      <img src="{{ vineyard.custom_overlay.url }} " style="max-width: 125px" class="m-2" />
      {% elif vineyard.hide_rating == False %}
      <p
        style="z-index: 1; position: absolute; padding-top: 10px"
        class="text-light fs-5 fw-bold m-4 text-center"
      >
        TOP <span style="font-size: 28px">{{ vineyard.rating }}</span>
      </p>
      <img src="{% static 'img/overlay-icon-bg.png' %} " style="max-width: 125px" class="m-2" />
      {% endif %}
    </div>
    <a href="{{ vineyard.get_absolute_url }}">
      <img src="{{ vineyard.cover.url }}" class="img-fluid"
    /></a>
  </div>
  <div class="col-12 col-md-6 py-3" style="font-size: 14px">
    <h5 class="fw-bold">
      <a href="{{ vineyard.get_absolute_url }}" class="text-decoration-none text-dark"
        >{{ vineyard.name }}</a
      >
    </h5>
    <p>
      <strong> Wine Region </strong> :
      <a href="{{ vineyard.wine_rg_url }}" style="text-decoration: none; color: #688c3b"
        >{{ vineyard.wine_rg }}</a
      ><br />
      <strong> Wines </strong> :
      <a href="{{ vineyard.wines_url }}" style="text-decoration: none; color: #688c3b"
        >{{ vineyard.wines }}</a
      ><br />
      <strong> Owner </strong> :
      <a href="{{ vineyard.owner_url }}" style="text-decoration: none; color: #688c3b"
        >{{ vineyard.owner }}</a
      ><br />
      {{ vineyard.text|safe|truncatewords:25 }}
    </p>
  </div>
  {% endfor %}
  <!-- Nav Pagination -->
  <nav class="nav-pagination">
    <ul class="pagination justify-content-center">
      {% if vineyards.paginator.num_pages > 1 %}
        {% if vineyards.has_previous %}
          <a class="btn btn-outline-secondary my-2" href="?page=1">First</a>
          <a class="btn btn-outline-secondary my-2" href="?page={{ vineyards.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in vineyards.paginator.page_range %}
          {% if vineyards.number == num %}
            <a class="btn btn-secondary my-2" href="?page={{ num }}">{{ num }}</a>
          {% elif num > vineyards.number|add:'-3' and num < vineyards.number|add:'3' %}
            <a class="btn btn-outline-secondary my-2" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if vineyards.has_next %}
          <a class="btn btn-outline-secondary my-2" href="?page={{ vineyards.next_page_number }}">Next</a>
          <a class="btn btn-outline-secondary my-2" href="?page={{ vineyards.paginator.num_pages }}">Last</a>
        {% endif %}
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}
{% endblock content %}

<!-- Sidebar -->
{% block sidebar %} {% if content_page.sidebar %}
<div class="row p-3 text-center mb-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="text-start">{{ content_page.sidebar|safe }}</div>
</div>
{% elif content_page.sidebar == "" and default_sidebar != "" %}
<div class="row p-3 text-center mb-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="text-start">{{ default_sidebar|safe }}</div>
</div>
{% endif %} {% endblock sidebar %}

<!-- Ad Manager -->
{% block admanager %} {% if content_page.ad_manager %}
<div class="row p-3 text-center" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="text-start">{{ content_page.ad_manager|safe }}</div>
</div>
{% elif content_page.ad_manager == "" and default_ad_manager != "" %}
<div class="row p-3 text-center" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="text-start">{{ default_ad_manager|safe }}</div>
</div>
{% endif %} {% endblock admanager %}

<!-- Global Travel News -->
{% block global_travel_news %} {% if content_page.display_news %}
<div class="row d-flex">
  <div class="col col-md-12 col-lg-8">
    <div class="row d-flex p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
      <h5 class="fw-bold ps-0">Global Travel News</h5>
      <hr />
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="row d-flex">
              {% for news in travel_news %}
              <div class="col-6 col-md-4 py-2 text-center">
                <a href="{{ news.get_absolute_url }}" style="text-decoration: none">
                  <img
                    src="{{ news.cover.url }}"
                    style="max-height: 150px"
                    class="img-fluid"
                  />
                  <h6 class="fw-bold text-start text-dark my-2">{{ news.title }}</h6>
                </a>
              </div>
              {% if forloop.counter|divisibleby:6 %}
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="row d-flex py-3">{% endif %} {% endfor %}</div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock global_travel_news %}

<!-- Billboards -->
{% block billboards %} {% if content_page.display_billboard %}
<div class="row pt-4 mt-4">
  {% for billboard in billboards %}
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 my-3" style="position: relative;">
      <a href="{{ billboard.url }}" target="_blank" style="text-decoration: none; color: black;">
      <img src="{{ billboard.image.url }}" class="img-fluid">
      <strong class="p-1" style="position: absolute; bottom: 40px; left: 12px; background-color: whitesmoke;">{{ billboard.title }}</strong>
      <p style="font-style: italic">{{ billboard.description|truncatechars:35 }}</p>
      </a>
    </div>
  {% endfor %}
  </div>
{% endif %} {% endblock billboards %}
