{% extends 'base.html' %} {% load static %}

<!-- Meta Keywords -->
{% block keywords %} <meta name="keywords" content="{{ content_page.meta_keywords }}" />
{% endblock keywords %}

<!-- Title -->
{% block title %} {{ content_page.title }} {% endblock title %}

<!-- Slick Slider Carousel -->
{% block topcarousel %}
<div class="slick-carousel-homepage" style="max-height: 480px">
  {% for image in image_carousel %}
  <div>
    <img class="w-100" src="{{ image.image.url }}" alt="" />
  </div>
  {% endfor %}
</div>
{% endblock topcarousel %}

<!-- Top Text -->
{% block toptext %}
<section style="background-color: white; z-index: 1; position: relative" class="top-text">
  <div class="container text-center my-3 py-3">
    <h1 class="fw-bold">{{ content_page.title }}</h1>
    <p>{{ content_page.content|safe }}</p>
  </div>
</section>
{% endblock toptext %}

<!-- Vineyard List -->
{% block content %} {% if content_page.show_listing == True %} {% for vineyard in vineyards %}
<div class="col-12 col-md-6 py-3 text-start">
  <div style="position: absolute; z-index: 1">
    {% if vineyard.custom_overlay %}
    <img src="{{ vineyard.custom_overlay.url }} " style="max-width: 125px" class="m-2" />
    {% elif vineyard.hide_rating == False %}
    <p
      style="z-index: 1; position: absolute; padding-top: 10px"
      class="text-light fs-5 fw-bold m-4 text-center"
    >
      TOP <span style="font-size: 28px">{{ vineyard.rating }}</span>
    </p>
    <img src="{% static 'img/overlay-icon-bg.png' %} " style="max-width: 125px" class="m-2" />
    {% endif %}
  </div>
  <a href="{{ vineyard.get_absolute_url }}">
    <img src="{{ vineyard.cover.url }}" class="img-fluid"
  /></a>
</div>
<div class="col-12 col-md-6 py-3" style="font-size: 14px">
  <h5 class="fw-bold">
    <a href="{{ vineyard.get_absolute_url }}" class="text-decoration-none text-dark"
      >{{ vineyard.name }}</a
    >
  </h5>
  <p>
    <strong> Wine Region </strong> :
    <a href="{{ vineyard.wine_rg_url }}" style="text-decoration: none; color: #688c3b"
      >{{ vineyard.wine_rg }}</a
    ><br />
    <strong> Wines </strong> :
    <a href="{{ vineyard.wines_url }}" style="text-decoration: none; color: #688c3b"
      >{{ vineyard.wines }}</a
    ><br />
    <strong> Owner </strong> :
    <a href="{{ vineyard.owner_url }}" style="text-decoration: none; color: #688c3b"
      >{{ vineyard.owner }}</a
    ><br />
    {{ vineyard.text|safe|truncatewords:25 }}
  </p>
</div>
{% endfor %}
<!-- Nav Pagination -->
<nav class="nav-pagination">
  <ul class="pagination justify-content-center">
    {% if vineyards.has_previous %}
    <li class="page-item">
      <!-- <a class="page-link" href="?page=1">&laquo First</a> -->
      <a class="page-link" href="?page={{vineyards.previous_page_number}}">&laquo</a>
    </li>
    {% endif %}
    <li class="page-item disabled">
      <a class="page-link" href="#"
        >Page {{ vineyards.number }} of {{ vineyards.paginator.num_pages }}
      </a>
    </li>
    {% if vineyards.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{vineyards.next_page_number}}">&raquo</a>
      <!-- <a class="page-link" href="?page={{vineyards.paginator.num_pages}}">Last &raquo</a> -->
    </li>
    {% endif %}
  </ul>
</nav>
{% else %} {{ content_page.additional_content|safe }} {% endif %} {% endblock content %}

<!-- Sidebar -->
{% block sidebar %} {{ content_page.sidebar|safe }} {% endblock sidebar %}

<!-- Additional Content -->
{% block addcontent %}
<!--  -->
{% if content_page.show_listing == True %} {{ content_page.additional_content|safe }} {% endif %}
<!--  -->
{% endblock addcontent %}

<!-- Ad Manager -->
{% block admanager %} {{ content_page.ad_manager|safe }} {% endblock admanager %}
