{% extends 'base.html' %} {% load static %}

<!-- Title -->
{% block title %} World {% endblock title %}

<!-- Main Page -->
{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="max-height: 500px">
    <div class="carousel-item active">
      <img
        src="https://www.top25vineyards.com/static/imgs/main_page/worlds-best-vineyards-lavaux-switzerland-top-25vineyards.jpg"
        class="d-block w-100"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://www.top25vineyards.com/static/imgs/main_page/worlds-best-vineyards-wine-cellar-25vineyards.jpg"
        class="d-block w-100"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://www.top25vineyards.com/static/imgs/main_page/worlds-best-vineyards-alsace-france-top-25vineyards.jpg"
        class="d-block w-100"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container text-center my-3">
  <h1 class="fw-bold">{{homepage.title}}</h1>
  <p>{{homepage.content|safe}}</p>
</div>

<section>
  <div class="container">
    <div class="row d-flex">
      <!-- Main Section -->
      <div class="col col-md-12 col-lg-8 ps-0">
        <div class="row d-flex p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
          {% for vineyard in vineyards %}
          <div class="col col-md-12 col-lg-6 py-3 text-center">
            <div style="position: absolute; z-index: 1">
              <p
                style="z-index: 1; position: absolute; padding-top: 10px"
                class="text-light fs-4 fw-bold m-4"
              >
                TOP <span>{{ vineyard.rating }}</span>
              </p>
              <img
                src="{% static 'img/overlay-icon-bg.png' %} "
                style="max-width: 125px"
                class="m-2"
              />
            </div>
            <img src="{{ vineyard.cover.url }}" style="max-width: 340px" />
          </div>
          <div class="col col-md-12 col-lg-6 py-3" style="font-size: 14px">
            <h5 class="fw-bold">{{ vineyard.name }}</h5>
            <p>
              <strong> Wine Region </strong> : {{ vineyard.region.name }} <br />
              <strong> Wines </strong> : {{ vineyard.grapes }} <br />
              <strong> Owner </strong> : {{ vineyard.owner }} <br />
              {{ vineyard.text|safe|truncatewords:25 }}
            </p>
          </div>
          {% endfor %}
        </div>
        <nav class="">
          <ul class="pagination justify-content-center">
            {% if vineyards.has_previous %}
            <li class="page-item">
              <!-- <a class="page-link" href="?page=1">&laquo First</a> -->
              <a class="page-link" href="?page={{vineyards.previous_page_number}}">&laquo</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
              <a class="page-link" href="#"
                >Page {{vineyards.number}} of {{vineyards.paginator.num_pages}}
              </a>
            </li>
            {% if vineyards.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{vineyards.next_page_number}}">&raquo</a>
              <!-- <a class="page-link" href="?page={{vineyards.paginator.num_pages}}">Last &raquo</a> -->
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <!-- Sidebar -->
      <div class="col col-md-12 col-lg-4 pe-0">
        <div class="p-4 ms-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
          <h5>Sidebar's Title</h5>
          <p>
            <img src="https://picsum.photos/300/250" class="py-2" />
          </p>
        </div>
      </div>
    </div>
    <!-- Global Trael News -->
    <div class="col col-md-12 col-lg-8">
      <div class="row d-flex m-2 p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
        <h5 class="fw-bold">Global Travel News</h5>
        <hr />
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row d-flex py-3">
                {% for news in travel_news %}
                <div class="col-12 col-lg-6 px-3 py-2">
                  <img src="{{ news.cover.url }}" style="max-height: 180px" class="img-fluid" />
                  <h6 class="fw-bold py-2">{{news.title}}</h6>
                </div>
                {% if forloop.counter|divisibleby:4 %}
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div class="row d-flex py-3">{% endif %} {% endfor %}</div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
