{% extends 'base.html' %} {% load static %}

<!-- Meta Keywords -->
{% block description %} <meta name="description" content="{{ content_page.meta_description }}" />
{% endblock description %}
<!--  -->
{% block keywords %} <meta name="keywords" content="{{ content_page.meta_keywords }}" />
{% endblock keywords %}

<!-- Title -->
{% block title %} {{ content_page.title }} {% endblock title %}

<!-- Top Carousel -->
{% block topcarousel %}
<section class="vineyard-region">
  <div class="slick-carousel">
    {% for image in image_carousel %}
    <img src="{{ image.image.url }}" />
    {% endfor %}
  </div>
</section>
{% endblock topcarousel %}

<!-- Top Text -->
{% block toptext %}
<section style="background-color: white; z-index: 1; position: relative" class="top-text">
  <div class="container text-center my-3 py-3">
    <h1 class="fw-bold">{{ content_page.title }}</h1>
    <p>{{ content_page.content|safe }}</p>
  </div>
</section>
{% endblock toptext %}

<!-- News List -->
{% block content %} {% if content_page.show_listing == True %}
<div class="row d-flex p-3 mb-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  {% for news in news_list %}
  <div class="col-12 col-md-6 py-3 text-start">
    <a href="{{ news.get_absolute_url }}"><img src="{{ news.cover.url }}" class="img-fluid" /></a>
  </div>
  <div class="col-12 col-md-6 py-3" style="font-size: 14px">
    <h5 class="fw-bold">
      <a href="{{ news.get_absolute_url }}" class="text-decoration-none text-dark"
        >{{ news.title }}</a
      >
    </h5>
    {{ news.body|slice:"3:200" }} ...
  </div>
  {% endfor %}
  <!-- Nav Pagination -->
  <nav class="nav-pagination">
    <ul class="pagination justify-content-center">
      {% if news_list.has_previous %}
      <li class="page-item">
        <!-- <a class="page-link" href="?page=1">&laquo First</a> -->
        <a class="page-link" href="?page={{news_list.previous_page_number}}">&laquo</a>
      </li>
      {% endif %}
      <li class="page-item disabled">
        <a class="page-link" href="#"
          >Page {{ news_list.number }} of {{ news_list.paginator.num_pages }}
        </a>
      </li>
      {% if news_list.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ news_list.next_page_number }}">&raquo</a>
        <!-- <a class="page-link" href="?page={{ news_list.paginator.num_pages }}">Last &raquo</a> -->
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %} {% if content_page.additional_content %}
<div class="row d-flex p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  {{ content_page.additional_content|safe }}
</div>
{% endif %} {% endblock content %}

<!-- Sidebar -->
{% block sidebar %}
<div class="row p-3 text-center mt-lg-0 mt-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  {% if content_page.sidebar %}
  <div class="text-start">{{ content_page.sidebar|safe }}</div>
  {% else %}
  <div class="text-start">{{ default_sidebar|safe }}</div>
  {% endif %}
</div>
{% endblock sidebar %}

<!-- Ad Manager -->
{% block admanager %}
<div class="row p-3 text-center mt-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  {% if content_page.ad_manager %}
  <div class="text-start">{{ content_page.ad_manager|safe }}</div>
  {% else %}
  <div class="text-start">{{ default_ad_manager|safe }}</div>
  {% endif %}
</div>
{% endblock admanager %}
