{% extends 'base.html' %} {% load static %} {% load class_name %}

<!-- Meta Keywords -->
{% block description %} <meta name="description" content="{{ content_page.meta_description }}" />
{% endblock description %}
<!--  -->
{% block keywords %} <meta name="keywords" content="{{ content_page.meta_keywords }}" />
{% endblock keywords %}

<!-- Title -->
{% block title %} {{ searched }} {% endblock title %}

<!-- Top Carousel -->
{% block topcarousel %}
<section class="search-page mt-5"></section>
{% endblock topcarousel %}

<!-- Top Text -->
{% block toptext %}
<section style="background-color: white; z-index: 1; position: relative" class="top-text">
  <div class="container text-center my-3 py-3">
    <h1 class="fw-bold">{{ content_page.title }}</h1>
    <p>{{ content_page.content|safe }}</p>
  </div>
</section>
{% endblock toptext %}

<!-- Search Result -->
{% block content %} {% if searched %}
<div class="row d-flex p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <h1 class="fw-bold">Search Results For: {{ searched }}</h1>
  <hr />
  {% for result in results %}
  <!-- Vineyards -->
  {% with result|class_name as model %} {% if model == 'Vineyard' %}
  <div class="col-12 col-md-6 py-3 text-start">
    <div style="position: absolute; z-index: 1">
      {% if result.custom_overlay %}
      <img src="{{ result.custom_overlay.url }} " style="max-width: 125px" class="m-2" />
      {% elif result.hide_rating == False %}
      <p
        style="z-index: 1; position: absolute; padding-top: 10px"
        class="text-light fs-5 fw-bold m-4 text-center"
      >
        TOP <span style="font-size: 28px">{{ result.rating }}</span>
      </p>
      <img src="{% static 'img/overlay-icon-bg.png' %} " style="max-width: 125px" class="m-2" />
      {% endif %}
    </div>
    <a href="{{ result.get_absolute_url }}">
      <img src="{{ result.cover.url }}" class="img-fluid"
    /></a>
  </div>
  <div class="col-12 col-md-6 py-3" style="font-size: 14px">
    <h5 class="fw-bold">
      <a href="{{ result.get_absolute_url }}" class="text-decoration-none text-dark"
        >{{ result.name }}</a
      >
    </h5>
    <p>
      <strong> Wine Region </strong> :
      <a href="{{ result.wine_rg_url }}" style="text-decoration: none; color: #688c3b"
        >{{ result.wine_rg }}</a
      ><br />
      <strong> Wines </strong> :
      <a href="{{ result.wines_url }}" style="text-decoration: none; color: #688c3b"
        >{{ result.wines }}</a
      ><br />
      <strong> Owner </strong> :
      <a href="{{ result.owner_url }}" style="text-decoration: none; color: #688c3b"
        >{{ result.owner }}</a
      ><br />
      <p>{{ result.text|striptags|safe|truncatewords:25 }}</p>
    </p>
  </div>
  <!-- News -->
  {% elif model == 'Post' %}
  <div class="col-12 col-md-6 py-3 text-start">
    <a href="{{ result.get_absolute_url }}">
      <img src="{{ result.cover.url }}" class="img-fluid"
    /></a>
  </div>
  <div class="col-12 col-md-6 py-3" style="font-size: 14px">
    <h5 class="fw-bold">
      <a href="{{ result.get_absolute_url }}" class="text-decoration-none text-dark"
        >{{ result.title }}</a
      >
    </h5>
    <p>{{ result.body|striptags|safe|truncatewords:25 }}</p>
  </div>
  <!-- Regions -->
  {% elif model == 'Region' %}
  <div class="col-12 col-md-6 py-3 text-start">
    <a href="{{ result.get_absolute_url }}">
      {% if result.thumbnail %}
      <img src="{{ result.thumbnail.url }}" class="img-fluid" />
      {% else %}
      <img src="{% static 'img/thumbnail-page.jpg' %}" class="img-fluid" />
      {% endif %}
    </a>
  </div>
  <div class="col-12 col-md-6 py-3" style="font-size: 14px">
    <h5 class="fw-bold">
      <a href="{{ result.get_absolute_url }}" class="text-decoration-none text-dark"
        >{{ result.title }}</a
      >
    </h5>
    <p>{{ result.description_on_list|striptags|safe|truncatewords:25 }}</p>
  </div>
  <!-- Content Pages -->
  {% elif model == 'ContentPage' %} {% if result.types != "SEARCH_PAGE" %}
  <div class="col-12 col-md-6 py-3 text-start">
    <a href="{{ result.get_absolute_url }}">
      {% if result.thumbnail %}
      <img src="{{ result.thumbnail.url }}" class="img-fluid" />
      {% else %}
      <img src="{% static 'img/thumbnail-page.jpg' %}" class="img-fluid" />
      {% endif %}
    </a>
  </div>
  <div class="col-12 col-md-6 py-3" style="font-size: 14px">
    <h5 class="fw-bold">
      <a href="{{ result.get_absolute_url }}" class="text-decoration-none text-dark"
        >{{ result.title }}</a
      >
    </h5>
    <p>{{ result.content_on_list|striptags|safe|truncatewords:25 }}</p>
  </div>
  {% endif %} {% endif %} {% endwith %} {% endfor %}
  <!-- Nav Pagination -->
  <nav class="nav-pagination">
    <ul class="pagination justify-content-center">
      {% if results.has_previous %}
      <li class="page-item">
        <!-- <a class="page-link" href="?page=1">&laquo First</a> -->
        <a class="page-link" href="?searched={{ searched }}&page={{ results.previous_page_number }}"
          >&laquo</a
        >
      </li>
      {% endif %}
      <li class="page-item disabled">
        <a class="page-link" href="#"
          >Page {{ results.number }} of {{ results.paginator.num_pages }}
        </a>
      </li>
      {% if results.has_next %}
      <li class="page-item">
        <a class="page-link" href="?searched={{ searched }}&page={{ results.next_page_number }}"
          >&raquo</a
        >
        <!-- <a class="page-link" href="?page={{ results.paginator.num_pages }}">Last &raquo</a> -->
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% else %}
<div class="row d-flex p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <h1>Please enter the word</h1>
</div>
{% endif %} {% if content_page.additional_content %}
<div class="row d-flex p-3 my-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  {{ content_page.additional_content|safe }}
</div>
{% endif %} {% endblock content %}

<!-- Sidebar -->
{% block sidebar %} {% if content_page.sidebar %}
<div class="row p-3 text-center mt-lg-0 mt-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="text-start">{{ content_page.sidebar|safe }}</div>
</div>
{% endif %} {% endblock sidebar %}

<!-- Ad Manager -->
{% block admanager %} {% if content_page.ad_manager %}
<div class="row p-3 text-center mt-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="text-start">{{ content_page.ad_manager|safe }}</div>
</div>
{% endif %} {% endblock admanager %}
