@media (max-width: 978px) {
  body {
    padding-top: 80px;
  }
}

@media (min-width: 978px) {
  .footer-page {
    padding-top: 80px;
  }
  .vineyard-detail {
    padding-top: 80px;
  }
  .news-detail {
    padding-top: 80px;
  }
}
