/* padding top 80px when width smaller than 978px */
@media (max-width: 978px) {
  .top-content {
    padding-top: 80px;
  }
}

/* If there is no carousel image on top, padding top 100px */
@media (min-width: 978px) {
  .footer-page,
  .vineyard-detail,
  .post-detail,
  .search-page,
  .vineyard-region {
    padding-top: 80px;
  }
}

/* Hover navbar */
.dropend:hover,
.dropend a:hover,
.nav-drop a:hover,
.child-region:hover {
  background-color: black;
}

/* Display child region on hover */
.child-regions {
  display: none;
}

.dropend:hover > .child-regions {
  display: block;
  top: 0;
  left: 100%;
  padding: 10px;
  background-color: #292b2c;
}

/* Hide label field */
.requiredField {
  display: none;
}

/* Change bootstrap range color */
input[type="range"]::-webkit-slider-thumb {
  background: #20669b;
}
input[type="range"]::-moz-range-thumb {
  background: #20669b;
}
input[type="range"]::-ms-thumb {
  background: #20669b;
}

/* Captcha */
.captcha {
  padding-bottom: 14px
 }

/* Remove border on hamburger menu */
.navbar-toggler{
  color: transparent !important;
  border-color: transparent !important;
}

/* Same height for all news post */
@media (min-width: 0px) {
  .thumbnail-img{
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 576px) {
  .thumbnail-img{
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .thumbnail-img{
    width: 319px;
    height: 179px;
    object-fit: cover;
  }
}
@media (min-width: 992px) {
  .thumbnail-img{
    width: 279px;
    height: 157px;
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .thumbnail-img{
    width: 339px;
    height: 191px;
    object-fit: cover;
  }
}
@media (min-width: 1400px) {
  .thumbnail-img{
    width: 399px;
    height: 225px;
    object-fit: cover;
  }
}

/* Pagination Button Color */
.pagination-btn {
  color: #6c757d !important;
  border-color: #6c757d !important;
}
.pagination-btn:hover {
  color: #fff !important;
  background-color: #5c636a !important;
  border-color: #5c636a !important;
}

/* Scrollable Dropdown */
.scrollable-dropdown {
  max-height: 200px;
  overflow-y: auto;
}