{% extends 'base.html' %} {% load static %}

<!-- Meta Keywords -->
{% block keywords %} <meta name="keywords" content="{{ news.meta_keywords }} " />
{% endblock keywords %}

<!-- Title -->
{% block title %} {{ news.title }} {% endblock title %}

<!-- Top Carousel -->
{% block topcarousel %}
<section class="news-detail mt-5"></section>
{% endblock topcarousel %}

<!-- News Detail -->
{% block content %}
<h6><span class="badge bg-dark">{{ news.category.name }}</span></h6>
<h1 class="fw-bold">{{ news.title }}</h1>
{{ news.body|safe }} {% endblock content %}

<!-- Sidebar -->
{% block sidebar %} {{ news.sidebar|safe }} {% endblock sidebar %}

<!-- Ad Manager -->
{% block admanager %} {{ news.ad_manager|safe }} {% endblock admanager %}
