{% extends 'base.html' %} {% load static %}

<!-- Title -->
{% block title %} {{ news.title }} {% endblock title %}

<!-- News Detail -->
{% block content %}
<div class="news-detail">
  <h6><span class="badge bg-dark">{{ news.category.name }}</span></h6>
  <h1 class="fw-bold">{{ news.title }}</h1>
  {{ news.body|safe }}
</div>
{% endblock content %}

<!-- Sidebar -->
{% block sidebar %} {{ news.sidebar|safe }} {% endblock sidebar %}

<!-- Ad Manager -->
{% block admanager %} {{ news.ad_manager|safe }} {% endblock admanager %}
