{% extends 'base.html' %} {% load static %}

<!-- Meta Keywords -->
{% block description %} <meta name="description" content="{{ news.meta_description }} " />
{% endblock description %}
<!--  -->
{% block keywords %} <meta name="keywords" content="{{ news.meta_keywords }} " />
{% endblock keywords %}

<!-- Title -->
{% block title %} {{ news.title }} {% endblock title %}

<!-- Top Carousel -->
{% block topcarousel %}
<section class="news-detail mt-5"></section>
{% endblock topcarousel %}

<!-- News Detail -->
{% block content %}
<div class="row d-flex p-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <h6>
    <span class="badge bg-dark"
      ><a
        href="{% url 'pages_app:newspage' news.category.slug %}"
        class="text-white"
        style="text-decoration: none"
        >{{ news.category.name }}</a
      ></span
    >
  </h6>
  <h1 class="fw-bold">{{ news.title }}</h1>
  <div class="my-3">
    <img src="{{ news.cover.url }}" class="w-100 me-3 my-2" style="max-width: 500px; float: left" />
    {{ news.body|safe }}
  </div>
</div>
{% endblock content %}

<!-- Breadcrumb -->
{% block breadcrumb %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb" style="font-size: 13px">
    <li class="breadcrumb-item">
      <a href="{% url 'pages_app:mainpage' %}" class="text-dark" style="text-decoration: none"
        ><i class="bi bi-house-fill"></i> Home</a
      >
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <a
        href="{% url 'pages_app:newspage' news.category.slug %}"
        class="text-dark"
        style="text-decoration: none"
        >{{ news.category.name }}</a
      >
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ news.title }}</li>
  </ol>
</nav>
{% endblock breadcrumb %}

<!-- Sidebar -->
{% block sidebar %} {% if news.sidebar %}
<div class="row p-3 text-center mb-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="text-start">{{ news.sidebar|safe }}</div>
</div>
{% elif news.sidebar == "" and default_sidebar != "" %}
<div class="row p-3 text-center mb-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="text-start">{{ default_sidebar|safe }}</div>
</div>
{% endif %} {% endblock sidebar %}

<!-- Ad Manager -->
{% block admanager %} {% if news.ad_manager %}
<div class="row p-3 text-center" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="text-start">{{ news.ad_manager|safe }}</div>
</div>
{% elif news.ad_manager == "" and default_ad_manager != "" %}
<div class="row p-3 text-center" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="text-start">{{ default_ad_manager|safe }}</div>
</div>
{% endif %} {% endblock admanager %}

<!-- Global Travel News -->
{% block global_travel_news %} {% if news.display_news %}
<div class="row d-flex">
  <div class="col col-md-12 col-lg-8">
    <div class="row d-flex p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
      <h5 class="fw-bold ps-0">Global Travel News</h5>
      <hr />
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="row d-flex">
              {% for news in travel_news %}
              <div class="col-6 col-md-4 py-2 text-center">
                <a href="{{ news.get_absolute_url }}" style="text-decoration: none">
                  <img
                    src="{{ news.cover.url }}"
                    style="max-height: 150px"
                    class="img-fluid"
                  />
                  <h6 class="fw-bold text-start text-dark my-2">{{ news.title }}</h6>
                </a>
              </div>
              {% if forloop.counter|divisibleby:6 %}
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="row d-flex py-3">{% endif %} {% endfor %}</div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock global_travel_news %}

<!-- Billboards -->
{% block billboards %} {% if news.display_billboard %}
<div class="row pt-4">
  {% for billboard in billboards %}
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 my-3" style="position: relative;">
      <a href="{{ billboard.url }}" target="_blank" style="text-decoration: none; color: black;">
      <img src="{{ billboard.image.url }}" class="img-fluid">
      <strong class="p-1" style="position: absolute; bottom: 40px; left: 12px; background-color: whitesmoke;">{{ billboard.title }}</strong>
      <p style="font-style: italic">{{ billboard.description|truncatechars:35 }}</p>
      </a>
    </div>
  {% endfor %}
  </div>
{% endif %} {% endblock billboards %}
