{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block keywords %} {% endblock keywords %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/t25vy-favicon.png' %}" />
    <!-- Slick Slider -->
    <link href="https://kenwheeler.github.io/slick/slick/slick.css" rel="stylesheet" />
    <link href="https://kenwheeler.github.io/slick/slick/slick-theme.css" rel="stylesheet" />

    <title>
      {% block title %} {% endblock title %} | Top 25 Vineyards - World's Best Vineyards
    </title>
  </head>
  <body>
    <!-- Navbar Offcanvas (Double Navbar) -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container">
        <!-- Navbar Logo -->
        {% block navlogo %} {% if not navlogo %}
        <a class="navbar-brand" href="{% url 'pages_app:mainpage' %}">
          <img src="{% static 'img/navbrandtop25.png'%}" />
        </a>
        {% endif %} {% endblock navlogo %}
        <div class="navbar d-flex">
          <div class="d-flex my-auto d-none d-md-none d-lg-flex fw-bold" style="font-size: 12px">
            <a
              class="nav-item text-light me-4"
              href="{% url 'pages_app:mainpage' %}"
              style="text-decoration: none"
              >WORLD'S TOP 25</a
            >
            <div class="dropdown">
              <a
                class="nav-item text-light me-4 dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="text-decoration: none"
              >
                TOP BY REGIONS
              </a>
              <ul
                class="dropdown-menu bg-dark"
                aria-labelledby="dropdownMenuLink"
                style="font-size: 12px"
              >
                {% for region in navbar_region %}
                <li><hr class="dropdown-divider text-light my-1" /></li>
                <li class="nav-drop">
                  <a
                    class="dropdown-item text-light fw-bold"
                    href="{% url 'vineyards:region' region.slug %}"
                    style="text-transform: uppercase"
                    >{{ region.name }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="dropdown">
              <a
                class="nav-item text-light me-4 dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="text-decoration: none"
              >
                DISCOVER
              </a>
              <ul
                class="dropdown-menu bg-dark"
                aria-labelledby="dropdownMenuLink"
                style="font-size: 12px"
              >
                {% for region in navbar_region %}
                <li><hr class="dropdown-divider text-light my-1" /></li>
                <li class="nav-drop">
                  <a
                    class="dropdown-item text-light fw-bold"
                    href="{% url 'vineyards:region' region.slug %}"
                    style="text-transform: uppercase"
                    >{{ region.name }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <button
            class="navbar-toggler navbar-dark d-block px-0"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end bg-dark"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                <a
                  href="{% url 'pages_app:mainpage' %}"
                  class="text-decoration-none fw-bold text-light"
                  >Top25Vineyards</a
                >
              </h5>
              <button
                type="button"
                class="btn-close text-reset btn-close-white"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link text-light" href="{% url 'pages_app:mainpage' %}"
                    >WORLD'S TOP 25</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle text-light"
                    href="#"
                    id="offcanvasNavbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    TOP BY REGIONS
                  </a>
                  <ul class="dropdown-menu bg-dark" aria-labelledby="offcanvasNavbarDropdown">
                    {% for region in navbar_region %}
                    <li><hr class="dropdown-divider text-light my-1" /></li>
                    <li class="nav-drop">
                      <a
                        class="dropdown-item text-light"
                        href="{% url 'vineyards:region' region.slug %}"
                        >{{ region.name }}</a
                      >
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle text-light"
                    href="#"
                    id="offcanvasNavbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    DISCOVER
                  </a>
                  <ul class="dropdown-menu bg-dark" aria-labelledby="offcanvasNavbarDropdown">
                    {% for region in navbar_region %}
                    <li><hr class="dropdown-divider text-light my-1" /></li>
                    <li class="nav-drop">
                      <a
                        class="dropdown-item text-light"
                        href="{% url 'vineyards:region' region.slug %}"
                        >{{ region.name }}</a
                      >
                    </li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
              <form class="d-flex" method="POST" action="{% url 'pages_app:searchpage' %}">
                {% csrf_token %}
                <input
                  class="form-control me-2 d-inline"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  name="searched"
                />
                <button class="btn btn-outline-light" type="submit">
                  <i class="bi bi-search"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="top-content">
      <!-- Top Carousel -->
      {% block topcarousel %} {% endblock topcarousel %}
      <!-- Top Content -->
      {% block toptext %} {% endblock toptext %}
    </section>

    <section class="main-content">
      <div class="container">
        <div class="row d-flex">
          <!-- Main Section -->
          <div class="col-12 col-lg-8 ps-0">
            <div class="row d-flex p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
              {% block content %} {% endblock content %}
            </div>
          </div>
          <!-- Sidebar -->
          <div class="sidebar col-12 col-lg-4 ps-lg-5 ps-md-0 ps-sm-0">
            <div
              class="row p-3 text-center mt-lg-0 mt-4"
              style="border: 1px solid rgba(0, 0, 0, 0.1)"
            >
              <div class="text-start">{% block sidebar %} {% endblock sidebar %}</div>
            </div>
            <div class="row p-3 text-center mt-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
              <div class="text-start">{% block admanager %} {% endblock admanager %}</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Global Travel News -->
    <section>
      <div class="container">
        <div class="row d-flex py-5">
          <div class="col col-md-12 col-lg-8 ps-0">
            <div class="row d-flex p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
              <h5 class="fw-bold ps-0">Global Travel News</h5>
              <hr />
              <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row d-flex">
                      {% for news in travel_news %}
                      <div class="col-6 col-md-4 py-2 text-center">
                        <a href="{% url 'news:detail' news.slug %}" style="text-decoration: none">
                          <img
                            src="{{ news.cover.url }}"
                            style="max-height: 150px"
                            class="img-fluid"
                          />
                          <h6 class="fw-bold text-start text-dark my-2">{{ news.title }}</h6>
                        </a>
                      </div>
                      {% if forloop.counter|divisibleby:6 %}
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <div class="row d-flex py-3">{% endif %} {% endfor %}</div>
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleInterval"
                  data-bs-slide="prev"
                >
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleInterval"
                  data-bs-slide="next"
                >
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-dark text-light text-center">
      <div class="container py-4">
        <div class="row py-3">
          <!-- Footer Image 1 -->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-start">
            <a href="#">
              <img src="{% static 'img/footer.png' %}" />
            </a>
          </div>
          <!-- Menu Footer 1 -->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled text-start">
              {% for footer in footers1 %}
              <li>
                <a
                  href="{% url 'pages_app:footerpage' footer.title|slugify %}"
                  class="text-white-50"
                  style="text-decoration: none"
                  >{{ footer.title }}</a
                ><br />
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled text-start">
              {% for footer in footers2 %}
              <li>
                <a
                  href="{% url 'pages_app:footerpage' footer.title|slugify %}"
                  class="text-white-50"
                  style="text-decoration: none"
                  >{{ footer.title }}</a
                ><br />
              </li>
              {% endfor %}
            </ul>
          </div>
          <!-- Footer Image 2 -->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-end">
            <a href="https://www.travelfoundation.org/">
              <img src="{% static 'img/footer2.png' %}" class="px-3" />
            </a>
            <a href="https://www.travelindex.com/">
              <img src="{% static 'img/footer3.png' %}" class="px-3" />
            </a>
          </div>
        </div>
      </div>

      <!-- Copyright -->
      <div class="p-3 text-muted" style="background-color: rgba(0, 0, 0, 0.5)">
        <div class="container text-start" style="font-size: 14px">
          Copyright © 2021 - Top25Vineyards.com & Travelindex. All Rights Reserved |
          <a class="text-white" href="https://www.travelindex.com/" style="text-decoration: none"
            >❤Travelindex Group</a
          >
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <!-- Slick Slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
    <!-- Default Carousel -->
    <script>
      $().ready(function () {
        $(".slick-carousel").slick({
          centerPadding: "330px",
          infinite: true,
          slidesToShow: 1,
          prevArrow: false,
          nextArrow: false,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 5000,
          centerMode: true,
          responsive: [
            {
              breakpoint: 978,
              settings: {
                centerPadding: "100px",
                slidesToShow: 2,
              },
            },
            {
              breakpoint: 768,
              settings: {
                centerPadding: "0px",
                slidesToShow: 1,
              },
            },
          ],
        });
      });
    </script>
    <!-- Homepage Carousel -->
    <script>
      $().ready(function () {
        $(".slick-carousel-homepage").slick({
          centerPadding: "0px",
          infinite: true,
          slidesToShow: 1,
          prevArrow: false,
          nextArrow: false,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 5000,
          fade: true,
        });
      });
    </script>
    <!-- Yard Cover Carousel -->
    <script>
      $().ready(function () {
        $(".slick-carousel-yard-cover").slick({
          centerPadding: "0px",
          infinite: true,
          slidesToShow: 1,
          prevArrow: false,
          nextArrow: false,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 5000,
        });
      });
    </script>
  </body>
</html>
