{% load static %}

<div class="d-flex flex-wrap my-1 mx-1 p-0" style="width: 97%;" id="filter-box">
	<i class="my-auto bi bi-funnel mx-2" style="font-size: 30px; color: #6c757d" data-bs-toggle="tooltip" title="Filters"></i>
	<div class="dropdown m-2" id="dropdownRating">
		<button class="btn btn-outline-secondary btn-sm" type="button" id="dropdownRatingFilter" data-bs-toggle="dropdown" aria-expanded="false">
			Rating
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownRatingFilter" style="width: 300px">
			{% for rating in rating_filters|dictsort:"name.lower" %}
			<li>
				<div class="form-check mx-3">
					<input class="form-check-input filter-checkbox" type="checkbox" data-filter="rating" value="{{ rating.id }}" id="ratingInput">
					<label class="form-check-label" for="ratingInput">
						{{ rating.name }}
					</label>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="dropdown m-2" id="dropdownWorldArea">
		<button class="btn btn-outline-secondary btn-sm" type="button" id="dropdownWorldAreaFilter" data-bs-toggle="dropdown" aria-expanded="false">
			World
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownWorldAreaFilter" style="width: 300px">
			{% for world_area in world_area_filters|dictsort:"name.lower" %}
				{% if world_area.geo_region.count == 0 %}
					<li id="worldAreaItem">
						<div class="form-check mx-3">
							<input class="form-check-input filter-checkbox" type="checkbox" data-filter="world_area" value="{{ world_area.id }}" id="worldAreaInput">
							<label class="form-check-label" for="worldAreaInput">
								{{ world_area.name }}
							</label>
						</div>
					</li>
				{% else %}
					{% for geo_region in world_area.geo_region.all|dictsort:"name.lower" %}
					<li id="geoRegionItem">
						<div class="form-check mx-3">
							<input class="form-check-input filter-checkbox" type="checkbox" data-filter="geo_region" value="{{ geo_region.id }}" id="geoRegionInput">
							<label class="form-check-label" for="geoRegionInput">
								{{ geo_region.name }}
							</label>
						</div>
					</li>
					{% endfor %}
				{% endif %} 
			{% endfor %}
		</ul>
	</div>
	<div class="dropdown m-2" id="dropdownCountry">
		<button class="btn btn-outline-secondary btn-sm" type="button" id="dropdownCountryFilter" data-bs-toggle="dropdown" aria-expanded="false">
			Country
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownCountryFilter" style="width: 300px">
			{% for country in country_filters|dictsort:"name.lower" %}
			<li id="countryItem">
				<div class="form-check mx-3">
					<input class="form-check-input filter-checkbox" type="checkbox" data-filter="country" value="{{ country.id }}" id="countryInput">
					<label class="form-check-label" for="countryInput">
						{{ country.name }}
					</label>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="dropdown m-2" id="dropdownWineRegion">
		<button class="btn btn-outline-secondary btn-sm" type="button" id="dropdownWineRegionFilter" data-bs-toggle="dropdown" aria-expanded="false">
			Wine Region
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownWineRegionFilter" style="width: 300px">
			{% for wine_region in wine_region_filters|dictsort:"name.lower" %}
			<li id="wineRegionItem">
				<div class="form-check mx-3">
					<input class="form-check-input filter-checkbox" type="checkbox" data-filter="wine_region" value="{{ wine_region.id }}" id="wineRegionInput">
					<label class="form-check-label" for="wineRegionInput">
						{{ wine_region.name }}
					</label>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="dropdown m-2" id="dropdownWine">
		<button class="btn btn-outline-secondary btn-sm" type="button" id="dropdownWineFilter" data-bs-toggle="dropdown" aria-expanded="false">
			Wine
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownWineFilter" style="width: 300px">
			{% for wine in wine_filters|dictsort:"name.lower" %}
			<li>
				<div class="form-check mx-3">
					<input class="form-check-input filter-checkbox" type="checkbox" data-filter="wine" value="{{ wine.id }}" id="wineInput">
					<label class="form-check-label" for="wineInput">
						{{ wine.name }}
					</label>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="dropdown m-2" id="dropdownFacility">
		<button class="btn btn-outline-secondary btn-sm" type="button" id="dropdownFacilityFilter" data-bs-toggle="dropdown" aria-expanded="false">
			Facilities
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownFacilityFilter" style="width: 300px">
			{% for facility in facility_filters|dictsort:"name.lower" %}
			<li>
				<div class="form-check mx-3">
					<input class="form-check-input filter-checkbox" type="checkbox" data-filter="facility" value="{{ facility.id }}" id="facilityInput">
					<label class="form-check-label" for="facilityInput">
						{{ facility.name }}
					</label>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="dropdown m-2" id="dropdownService">
		<button class="btn btn-outline-secondary btn-sm" type="button" id="dropdownServiceFilter" data-bs-toggle="dropdown" aria-expanded="false">
			Services
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownServiceFilter" style="width: 300px">
			{% for service in service_filters|dictsort:"name.lower" %}
			<li>
				<div class="form-check mx-3">
					<input class="form-check-input filter-checkbox" type="checkbox" data-filter="service" value="{{ service.id }}" id="serviceInput">
					<label class="form-check-label" for="serviceInput">
						{{ service.name }}
					</label>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<i class="bi bi-arrow-repeat mx-2" style="font-size: 30px; color: #6c757d; cursor: pointer;" onclick="resetAllFilters()" data-bs-toggle="tooltip" title="Reset all filters"></i>
</div>
