{% load static %}

<div class="d-flex flex-wrap my-1 mx-1 p-0" style="width: 97%;" id="filter-box">
	<p class="fw-bold mx-1 my-auto" style="font-size: 12px;">Filter by:</p>
	<div class="dropdown my-2 mx-1" id="dropdownRating">
		<button class="btn btn-outline-secondary btn-sm px-2 dropdown-btn" type="button" id="dropdownRatingFilter" data-bs-toggle="dropdown" aria-expanded="false">
			<div class="pe-3">Rating<i class="fa-solid fa-sort-down ms-1" style="position: absolute; top: 20%;"></i></div>
		</button>
		<ul class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownRatingFilter" style="width: 300px">
			{% for rating in rating_filters %}
			<li class="ratingItem" id="{{ rating.id }}">
				<div class="form-check mx-3">
					<input class="form-check-input filter-checkbox" type="checkbox" data-filter="rating" value="{{ rating.id }}" id="ratingInput">
					<label class="form-check-label" for="ratingInput">{{ rating.name }}</label><span class="count-vineyards"> ({{ rating.count_vineyards }})</span>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="dropdown my-2 mx-1" id="dropdownWorldRegion">
		<button class="btn btn-outline-secondary btn-sm px-2 dropdown-btn" type="button" id="dropdownWorldRegionFilter" data-bs-toggle="dropdown" aria-expanded="false">
			<div class="pe-3">World<i class="fa-solid fa-sort-down ms-1" style="position: absolute; top: 20%;"></i></div>
		</button>
		<ul class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownWorldRegionFilter" style="width: 300px">
			{% for world_region in world_region_filters %}
			<li class="worldRegionItem" id="{{ world_region.id }}">
				<div class="form-check mx-3">
					<input class="form-check-input filter-checkbox" type="checkbox" data-filter="world_region" id="worldRegionInput"
						value="{{ world_region.id }}" country="{{ world_region.get_country_id }}" wine_region="{{ world_region.get_wine_region_id }}">
					<label class="form-check-label" for="worldRegionInput">{{ world_region.name }}</label><span class="count-vineyards"> ({{ world_region.count_vineyards }})</span>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="dropdown my-2 mx-1" id="dropdownCountry">
		<button class="btn btn-outline-secondary btn-sm px-2 dropdown-btn" type="button" id="dropdownCountryFilter" data-bs-toggle="dropdown" aria-expanded="false">
			<div class="pe-3">Countries<i class="fa-solid fa-sort-down ms-1" style="position: absolute; top: 20%;"></i></div>
		</button>
		<ul class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownCountryFilter" style="width: 300px">
			{% for country in country_filters|dictsort:"name.lower" %}
			<li class="countryItem" id="{{ country.id }}">
				<div class="form-check mx-3">
					<input class="form-check-input filter-checkbox" type="checkbox" data-filter="country" id="countryInput"
						value="{{ country.id }}" world_region="{{ country.get_world_region_id }}"  wine_region="{{ country.get_wine_region_id }}">
					<label class="form-check-label" for="countryInput">{{ country.name }}</label><span class="count-vineyards"> ({{ country.count_vineyards }})</span>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="dropdown my-2 mx-1" id="dropdownWineRegion">
		<button class="btn btn-outline-secondary btn-sm px-2 dropdown-btn" type="button" id="dropdownWineRegionFilter" data-bs-toggle="dropdown" aria-expanded="false">
			<div class="pe-3">Wine Regions<i class="fa-solid fa-sort-down ms-1" style="position: absolute; top: 20%;"></i></div>
		</button>
		<ul class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownWineRegionFilter" style="width: 300px">
			{% for wine_region in wine_region_filters|dictsort:"name.lower" %}
			<li class="wineRegionItem" id="{{ wine_region.id }}">
				<div class="form-check mx-3">
					<input class="form-check-input filter-checkbox" type="checkbox" data-filter="wine_region" id="wineRegionInput"
						value="{{ wine_region.id }}" world_region="{{ wine_region.get_world_region_id }}" country="{{ wine_region.get_country_id }}">
					<label class="form-check-label" for="wineRegionInput">{{ wine_region.name }}</label><span class="count-vineyards"> ({{ wine_region.count_vineyards }})</span>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="dropdown my-2 mx-1" id="dropdownWine">
		<button class="btn btn-outline-secondary btn-sm px-2 dropdown-btn dropdown-btn" type="button" id="dropdownWineFilter" data-bs-toggle="dropdown" aria-expanded="false">
			<div class="pe-3">Wines<i class="fa-solid fa-sort-down ms-1" style="position: absolute; top: 20%;"></i></div>
		</button>
		<ul class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownWineFilter" style="width: 300px">
			{% for wine in wine_filters|dictsort:"name.lower" %}
			<li class="wineItem" id="{{ wine.id }}">
				<div class="form-check mx-3">
					<input class="form-check-input filter-checkbox" type="checkbox" data-filter="wine" value="{{ wine.id }}" id="wineInput">
					<label class="form-check-label" for="wineInput">{{ wine.name }}</label><span class="count-vineyards"> ({{ wine.count_vineyards }})</span>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="dropdown my-2 mx-1" id="dropdownFacility">
		<button class="btn btn-outline-secondary btn-sm px-2 dropdown-btn" type="button" id="dropdownFacilityFilter" data-bs-toggle="dropdown" aria-expanded="false">
			<div class="pe-3">Facilities<i class="fa-solid fa-sort-down ms-1" style="position: absolute; top: 20%;"></i></div>
		</button>
		<ul class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownFacilityFilter" style="width: 300px">
			{% for facility in facility_filters|dictsort:"name.lower" %}
			<li class="facilityItem" id="{{ facility.id }}">
				<div class="form-check mx-3">
					<input class="form-check-input filter-checkbox" type="checkbox" data-filter="facility" value="{{ facility.id }}" id="facilityInput">
					<label class="form-check-label" for="facilityInput">{{ facility.name }}</label><span class="count-vineyards"> ({{ facility.count_vineyards }})</span>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="dropdown my-2 mx-1" id="dropdownService">
		<button class="btn btn-outline-secondary btn-sm px-2 dropdown-btn" type="button" id="dropdownServiceFilter" data-bs-toggle="dropdown" aria-expanded="false">
			<div class="pe-3">Services<i class="fa-solid fa-sort-down ms-1" style="position: absolute; top: 20%;"></i></div>
		</button>
		<ul class="dropdown-menu scrollable-dropdown" aria-labelledby="dropdownServiceFilter" style="width: 300px">
			{% for service in service_filters|dictsort:"name.lower" %}
			<li class="serviceItem" id="{{ service.id }}">
				<div class="form-check mx-3">
					<input class="form-check-input filter-checkbox" type="checkbox" data-filter="service" value="{{ service.id }}" id="serviceInput">
					<label class="form-check-label" for="serviceInput">{{ service.name }}</label><span class="count-vineyards"> ({{ service.count_vineyards }})</span>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<i class="fa-solid fa-rotate-left fa-lg my-auto mx-1" style="cursor: pointer;" onclick="resetAllFilters()" data-bs-toggle="tooltip" title="Reset all filters"></i>
</div>
<div class="selectedFilters">
	
</div>
