{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}

<!-- Meta Keywords -->
{% block description %} <meta name="description" content="{{ vineyard.meta_description }}" />
{% endblock description %}
<!--  -->
{% block keywords %} <meta name="keywords" content="{{ vineyard.meta_keywords }}" />
{% endblock keywords %}

<!-- Open Graph Tags -->
{% block opengraph %}
{% if vineyard.name %}
<meta property="og:title" content="{{ vineyard.name }}"> {% endif %}
<meta property="og:url" content="https://top25vineyards.com/{{ request.get_full_path }}">
{% if vineyard.text %}
<meta property="og:description" content="{{ vineyard.text|striptags|truncatechars:160 }}"> {% endif %}
{% if vineyard.cover2 %} 
<meta property="og:image" content="https://top25vineyards.com/{{ vineyard.cover2.url }}">
{% else %}
<meta property="og:image" content="https://top25vineyards.com/{{ vineyard.cover.url }}"> {% endif %}
{% endblock opengraph %}

<!-- Title -->
{% block title %} Edit Vineyard {% endblock title %}

<!-- Top Carousel -->
{% block topcarousel %}
<section class="footer-page mt-5"></section>
{% endblock topcarousel %}

<!-- Footer Page -->
{% block content %}
<div class="row d-flex p-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <!-- Vineyard Form -->
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    <h3>Vineyard Form</h3>
    {% for field in vineyard_form %}
      <div class="col-12 my-2">{{ field.label }}</div>
      {{ field }}
      {{ field.errors }}
    {% endfor %}
    <hr>
    <h3>Vineyard User Form</h3>
    {% for field in vineyard_user_form %}
      <div class="col-12 my-2">{{ field.label }}</div>
      {{ field }}
      {{ field.errors }}
    {% endfor %}
    <input type="submit" value="Submit" class="btn btn-dark my-3" style="width: 100%" />
  </form>
</div>
{% endblock content %}

<!-- Sidebar -->
{% block sidebar %}
<div class="row p-3 text-center mb-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="text-start">{{ default_sidebar|safe }}</div>
</div>
{% endblock sidebar %}

<!-- Ad Manager -->
{% block admanager %} 
<div class="row p-3 text-center" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="text-start">{{ default_ad_manager|safe }}</div>
</div>
{% endblock admanager %}

<!-- Global Travel News -->
{% block global_travel_news %} {% if vineyard.display_news %}
<div class="row d-flex">
  <div class="col col-md-12 col-lg-8">
    <div class="row d-flex p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
      <h5 class="fw-bold">Global Travel News</h5>
      <hr style="width: 97%; margin: 0 auto; margin-bottom: 10px;">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="row d-flex">
              {% for news in travel_news %}
              <div class="col-6 col-md-4 py-2 text-center">
                <a href="{{ news.get_absolute_url }}" style="text-decoration: none">
                  <img
                    src="{{ news.cover.url }}"
                    style="max-height: 150px"
                    class="img-fluid"
                  />
                  <h6 class="fw-bold text-start text-dark my-2">{{ news.title }}</h6>
                </a>
              </div>
              {% if forloop.counter|divisibleby:6 %}
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="row d-flex py-3">{% endif %} {% endfor %}</div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock global_travel_news %}

<!-- Billboards -->
{% block billboards %} {% if vineyard.display_billboard %}
<div class="row pt-4">
  {% for billboard in billboards %}
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 my-3" style="position: relative;">
      <a href="{{ billboard.url }}" target="_blank" style="text-decoration: none; color: black;">
      {% if billboard.image2 %}
      <img src="{{ billboard.image2.url }}" class="img-fluid">
      {% elif billboard.image %}
      <img src="{{ billboard.image.url }}" class="img-fluid">
      {% endif %}
      <strong class="p-1" style="position: absolute; bottom: 40px; left: 12px; background-color: whitesmoke;">{{ billboard.title }}</strong>
      <p style="font-style: italic">{{ billboard.description|truncatechars:35 }}</p>
      </a>
    </div>
  {% endfor %}
  </div>
{% endif %} {% endblock billboards %}
