{% extends 'base.html' %} {% load static %}

<!-- Title -->
{% block title %} {{ vineyard.name }} {% endblock title %}

<!-- Vineyard Detail -->
{% block content %}
<section class="vineyard-detail">
  <div class="container py-3">
    <div class="row d-flex">
      <!-- Main Section -->
      <div class="col-12 col-lg-8 ps-0">
        <div class="row d-flex p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
          <div>
            <h1 class="fw-bold">{{ vineyard.name }}</h1>
            <h5><i class="bi bi-geo-alt-fill"></i> {{ vineyard.wine_rg }}</h5>
            <img src="{{ vineyard.cover.url }}" alt="" class="img-fluid py-3" />
            <div class="row d-flex align-items-center mb-3">
              <div
                class="col-4"
                style="
                  background: url('{%static 'img/overlay-icon-bg.png' %}') no-repeat center;
                  background-size: 125px;
                  height: 120px;
                "
              >
                <p class="text-light fs-5 fw-bold text-center mt-4">
                  TOP <br /><span style="font-size: 28px">{{ vineyard.rating }}</span>
                </p>
              </div>
              <div class="col-8">
                <p class="my-auto">
                  <strong> Wine Region </strong> : {{ vineyard.wine_rg }}
                  <br />
                  <strong> Size </strong> : {{ vineyard.size }}
                  <br />
                  <strong> Grapes </strong> : {{ vineyard.grapes }}
                  <br />
                  <strong> Owner / Winemaker </strong> : {{ vineyard.owner }}
                  <br />
                  <strong> Visits </strong> : {{ vineyard.visits }}
                  <br />
                </p>
              </div>
            </div>
            {{ vineyard.text|safe }} {{ vineyard.google_map|safe }}
          </div>
        </div>
      </div>
      <!-- Sidebar -->
      <div class="col-12 col-lg-4">
        <div class="p-4 text-center" style="border: 1px solid rgba(0, 0, 0, 0.1)">
          <h5>Sidebar's Title</h5>
          <img src="https://picsum.photos/300/250" class="py-2 img-fluid" />
        </div>
      </div>
    </div>
    <!-- Global Trael News -->
    <div class="row d-flex py-5">
      <div class="col col-md-12 col-lg-8 ps-0">
        <div class="row d-flex p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
          <h5 class="fw-bold">Global Travel News</h5>
          <hr />
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row d-flex py-3">
                  {% for news in travel_news %}
                  <div class="col-12 col-sm-12 col-md-6 py-2 text-center">
                    <img
                      src="{{ news.cover.url }}"
                      style="max-height: 150px"
                      class="img-fluid m-2"
                    />
                    <h6 class="fw-bold py-2">{{ news.title }}</h6>
                  </div>
                  {% if forloop.counter|divisibleby:4 %}
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div class="row d-flex py-3">{% endif %} {% endfor %}</div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleInterval"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleInterval"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
