{% extends 'base.html' %} {% load static %}

<!-- Meta Keywords -->
{% block keywords %} <meta name="keywords" content="{{ vineyard.meta_keywords }}" />
{% endblock keywords %}

<!-- Title -->
{% block title %} {{ vineyard.name }} {% endblock title %}

<!-- Navbar Logo -->
{% block navlogo %} {% if vineyard.region.logo_on_navbar %}
<a class="navbar-brand px-0 mx-0" href="{% url 'vineyards:region' vineyard.region.slug %}">
  <img src="{{ vineyard.region.logo_on_navbar.url }}" />
</a>
{% else %}
<a class="navbar-brand" href="{{ vineyard.get_absolute_url }}">
  <img src="{% static 'img/navbrandtop25.png'%}" />
</a>
{% endif %} {% endblock navlogo %}

<!-- Slick Slider Carousel -->
{% block topcarousel %}
<section class="vineyard-detail mb-5">
  {% if vineyard.top_slider %}
  <div class="slick-carousel">
    {% for image in yard_images %}
    <img src="{{ image.image.url }}" />
    {% endfor %}
  </div>
  {% endif %}
</section>
{% endblock topcarousel %}

<!-- Vineyard Detail -->
{% block content %}
<div class="row d-flex p-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <h1 class="fw-bold">{{ vineyard.name }}</h1>
  <h5><i class="bi bi-geo-alt-fill"></i> {{ vineyard.wine_rg }}</h5>
  {% if vineyard.cover_slider and yard_cover_images %}
  <div class="slick-carousel-yard-cover my-3">
    {% for image in yard_cover_images %}
    <img src="{{ image.image.url }}" />
    {% endfor %}
  </div>
  {% else %}
  <img src="{{ vineyard.cover.url }}" alt="" class="img-fluid py-3" />
  {% endif %}

  <div class="row d-flex align-items-center mb-3">
    {% if vineyard.custom_overlay %}
    <div
      class="col-4"
      style="
      background: url('{{ vineyard.custom_overlay.url }}') no-repeat center;
      background-size: 125px;
      height: 120px;
    "
    ></div>
    {% elif vineyard.hide_rating == False %}
    <div
      class="col-4"
      style="
        background: url('{%static 'img/overlay-icon-bg.png' %}') no-repeat center;
        background-size: 125px;
        height: 120px;
      "
    >
      <p class="text-light fs-5 fw-bold text-center mt-4">
        TOP <br /><span style="font-size: 28px">{{ vineyard.rating }}</span>
      </p>
    </div>
    {% endif %}
    <div class="col-8">
      <p class="my-auto">
        <strong> Wine Region </strong> : {{ vineyard.wine_rg }}
        <br />
        <strong> Size </strong> : {{ vineyard.size }}
        <br />
        <strong> Grapes </strong> : {{ vineyard.grapes }}
        <br />
        <strong> Owner / Winemaker </strong> : {{ vineyard.owner }}
        <br />
        <strong> Visits </strong> : {{ vineyard.visits }}
        <br />
      </p>
    </div>
  </div>
  {{ vineyard.text|safe }} {{ vineyard.google_map|safe }}
</div>

<!-- Review and Rating -->
<div class="row d-flex p-3 my-3" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="row p-3 align-items-center mt-0 pt-0 pe-0">
    <h5 class="col-9 fw-bold ps-0 m-0">Ratings & Reviews</h5>
    <a class="col-3 btn btn-danger" href="{{ vineyard.get_absolute_url }}form/" role="button"
      ><i class="bi bi-pencil-square"></i> Write a Review</a
    >
  </div>
  <hr />
  {% if review_and_rating %} {% for r in review_and_rating %}
  <div class="row my-4">
    <div class="col-3 text-center">
      <img src="{{ r.user.profile.profile_pic.url }}" class="w-100" />
      <strong>{{ r.user.username }}</strong>
    </div>
    <div class="col-9" style="word-wrap: break-word">
      <h5 class="d-flex">
        <strong>{{ r.title }}</strong><span class="ms-auto">{{ r.total_rating }}</span>
      </h5>
      <h6>{{ r.date_created }}</h6>
      <details>
        <summary>Read more...</summary>
        <p>{{ r.review }}</p>
      </details>
    </div>
  </div>
  {% endfor %} {% else %}
  <h6><strong>Be the first to rate and write a review for {{ vineyard.name }} ... here</strong></h6>
  {% endif %}
</div>
{% endblock content %}

<!-- Breadcrumb -->
{% block breadcrumb %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb" style="font-size: 13px">
    <li class="breadcrumb-item">
      <a href="{% url 'pages_app:mainpage' %}" class="text-dark" style="text-decoration: none"
        ><i class="bi bi-house-fill"></i> Home</a
      >
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a href="{% url 'pages_app:mainpage' %}" class="text-dark" style="text-decoration: none"
        >Regions</a
      >
    </li>
    {% if vineyard.region.region_parent %}
    <li class="breadcrumb-item" aria-current="page">
      <a
        href="{% url 'vineyards:region' vineyard.region.region_parent.slug %}"
        class="text-dark"
        style="text-decoration: none"
        >{{ vineyard.region.region_parent.name }}</a
      >
    </li>
    {% endif %}
    <li class="breadcrumb-item" aria-current="page">
      <a
        href="{% url 'vineyards:region' vineyard.region.slug %}"
        class="text-dark"
        style="text-decoration: none"
        >{{ vineyard.region.name }}</a
      >
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ vineyard.name }}</li>
  </ol>
</nav>
{% endblock breadcrumb %}

<!-- Recent Reviews -->
{% block recent_reviews %}{% if recent_reviews %}
<div class="row p-3 text-center mt-lg-0 mt-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <h6 class="fw-bold mb-4">Recent reviews of {{ vineyard.name }}</h6>
  {% for review in recent_reviews %}
  <div class="text-start">
    <img src="{{ review.user.profile.profile_pic.url }}" style="width: 30px" />
    <strong>{{ review.user.username }}</strong>
    <h5>{{ review.title }}</h5>
    <details style="word-wrap: break-word">
      <summary>Read more...</summary>
      <p>{{ review.review }}</p>
    </details>
    <br />
  </div>
  {% endfor %}
</div>
{% endif %}{% endblock recent_reviews %}

<!-- Sidebar -->
{% block sidebar %} {% if vineyard.sidebar %}
<div class="row p-3 text-center mt-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="text-start">{{ vineyard.sidebar|safe }}</div>
</div>
{% endif %} {% endblock sidebar %}

<!-- Ad Manager -->
{% block admanager %} {% if vineyard.ad_manager %}
<div class="row p-3 text-center mt-4" style="border: 1px solid rgba(0, 0, 0, 0.1)">
  <div class="text-start">{{ vineyard.ad_manager|safe }}</div>
</div>
{% endif %} {% endblock admanager %}
